.footer__menu_grey {
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 90%;
    /* identical to box height, or 22px */

    letter-spacing: -0.03em;
    color: #8F8F91;
}