.product__title {
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 90%;

    letter-spacing: -0.03em;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin: 50px 0;
}