.columns__title {
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 90%;
    /* or 32px */

    letter-spacing: -0.03em;
    text-transform: uppercase;
}