.elements__text {
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    border-top: 2px solid #000000;
    max-width: 1300px;
    justify-content: flex-end;
    display: flex;
}